<a href="https://colab.research.google.com/github/diegulio/Breed_Recognition-to-Buscomiperro/blob/main/create_labels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
dogs = pd.read_csv('/content/drive/MyDrive/Colab Data/Proyecto buscomiperro/dog_labels.csv')
cats = pd.read_csv('/content/drive/MyDrive/Colab Data/Proyecto buscomiperro/cat_labels.csv')
nd = pd.read_csv('/content/drive/MyDrive/Colab Data/Proyecto buscomiperro/NoDetected_labels.csv')

In [ ]:
dogs.head()

                                 id             breed
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo
2  001cdf01b096e06d78e9e5112d419397          pekinese
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever

In [ ]:
cats.head()

         id breed
0   cat.666  gato
1   cat.672  gato
2    cat.57  gato
3  cat.2810  gato
4   cat.882  gato

# Labels

In [ ]:
labels = pd.concat([dogs, cats], axis = 0)
labels

                                    id             breed
0     000bec180eb18c7604dcecc8fe0dba07       boston_bull
1     001513dfcb2ffafc82cccf4d8bbaba97             dingo
2     001cdf01b096e06d78e9e5112d419397          pekinese
3     00214f311d5d2247d5dfe4fe24b2303d          bluetick
4     0021f9ceb3235effd7fcde7f7538ed62  golden_retriever
...                                ...               ...
3028                          cat.3427              gato
3029                           cat.967              gato
3030                          cat.2739              gato
3031                          cat.3433              gato
3032                          cat.1230              gato

[13255 rows x 2 columns]

In [ ]:
labels.breed.nunique()

121

120 razas + gato

In [ ]:
def image_per_breed_count(labels):
  breed_u = []
  count = []
  for breed in labels.breed.unique():
    breed_u.append(breed)
    count.append(len(labels[labels['breed'] == breed]))


  image_per_breed = pd.DataFrame({
      'breed' : breed_u,
      'count' : count
  }) 
  return image_per_breed

image_per_breed = image_per_breed_count(labels)
image_per_breed

                breed  count
0         boston_bull     87
1               dingo     80
2            pekinese     75
3            bluetick     85
4    golden_retriever     67
..                ...    ...
116   tibetan_mastiff     69
117  english_springer     75
118    cocker_spaniel     74
119        rottweiler     76
120              gato   3033

[121 rows x 2 columns]

In [ ]:
image_per_breed[image_per_breed['breed'] != 'gato']['count'].mean(), image_per_breed[image_per_breed['breed'] != 'gato']['count'].std()

(85.18333333333334, 13.298122274306586)

En promedio hay 85 imagenes de cada raza, por lo que reduciré las imagenes de los gatos a 100

In [ ]:
labels = labels.iloc[:(len(dogs) + 100)]
labels

                                  id             breed
0   000bec180eb18c7604dcecc8fe0dba07       boston_bull
1   001513dfcb2ffafc82cccf4d8bbaba97             dingo
2   001cdf01b096e06d78e9e5112d419397          pekinese
3   00214f311d5d2247d5dfe4fe24b2303d          bluetick
4   0021f9ceb3235effd7fcde7f7538ed62  golden_retriever
..                               ...               ...
95                          cat.3449              gato
96                          cat.2019              gato
97                          cat.1510              gato
98                          cat.2031              gato
99                          cat.1538              gato

[10322 rows x 2 columns]

In [ ]:
image_per_breed_count(labels)

                breed  count
0         boston_bull     87
1               dingo     80
2            pekinese     75
3            bluetick     85
4    golden_retriever     67
..                ...    ...
116   tibetan_mastiff     69
117  english_springer     75
118    cocker_spaniel     74
119        rottweiler     76
120              gato    100

[121 rows x 2 columns]

Ahora, una vez que ya capturé varias fotos para la categoria "No detectado", debo crear sus labels y unirlos al csv final

In [ ]:
labels = pd.concat([labels, nd], axis = 0)

In [ ]:
labels.reset_index(inplace=True)
labels.to_csv('labels.csv', index = False)

Listo! CSV final creado con los nombres de las imagenes y sus respectivos labels